<div class="article-page" *ngIf="article">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <!-- <app-article-meta [article]="article"> -->
      <!--   <span *ngIf="canModify"> -->
      <!--     <a -->
      <!--       class="btn btn-sm btn-outline-secondary" -->
      <!--       [routerLink]="['/editor', article.slug]" -->
      <!--     > -->
      <!--       <i class="ion-edit"></i> Edit Article -->
      <!--     </a> -->

      <!--     <button -->
      <!--       class="btn btn-sm btn-outline-danger" -->
      <!--       [ngClass]="{ disabled: isDeleting }" -->
      <!--       (click)="deleteArticle()" -->
      <!--     > -->
      <!--       <i class="ion-trash-a"></i> Delete Article -->
      <!--     </button> -->
      <!--   </span> -->

      <!-- <span *ngIf="!canModify"> -->
      <!--   <app-follow-button -->
      <!--     [profile]="article.author" -->
      <!--     (toggle)="toggleFollowing($event)" -->
      <!--   > -->
      <!--   </app-follow-button> -->

      <!--   <app-favorite-button -->
      <!--     [article]="article" -->
      <!--     (toggle)="onToggleFavorite($event)" -->
      <!--   > -->
      <!--     {{ article.favorited ? "Unfavorite" : "Favorite" }} Article -->
      <!--     <span class="counter">({{ article.favoritesCount }})</span> -->
      <!--   </app-favorite-button> -->
      <!-- </span> -->
      <!-- </app-article-meta> -->


      <mat-card>
        <mat-card-header>
          <img mat-card-avatar [src]="article.author.image" (click)="navigateToLink('/')" class="clickable-image" />

          <!-- <mat-icon mat-card-avatar svgIcon="{{article.author.image}}"></mat-icon> -->
          <mat-card-title>
            <!-- <a href=""> -->
            {{ article.author.username }}
            <!-- </a> -->
          </mat-card-title>
          <mat-card-subtitle>
            {{ article.createdAt | date : "longDate" }}
          </mat-card-subtitle>

          <div class="side-action" *ngIf="canModify">
            <!--  -->
              <a class="icon-link" [routerLink]="['/editor', article.slug]">
                <mat-icon class="icon" fontIcon="edit"></mat-icon>
                <span>Edit Article</span>
              </a>

              <button class="icon-link" [ngClass]="{ disabled: isDeleting }" (click)="deleteArticle()">
                <mat-icon class="icon" fontIcon="edit"></mat-icon>
                Delete
              </button>
          </div>


        </mat-card-header>
        <mat-card-content>
          <div [innerHTML]="article.body | markdown | async"></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
