.home-page {
  display: flex;
  flex-direction: column;
  /* margin: 0 50px 50px 50px; */
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 75%;
  height: 60vh;
}

.sidebar {
  display: flex;
  flex-basis: 25%;
}

